body { background: #12f723; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 33px; display: flex; }
.block-product-0 { color: #d20b92; font-size: 12px; margin-bottom: 5px; }
.block-validator-1 { color: #cfb587; font-size: 18px; margin-bottom: 5px; }
.block-config-2 { color: #354c53; font-size: 18px; margin-bottom: 5px; }
.block-filter-3 { color: #39f2d8; font-size: 17px; margin-bottom: 5px; }
.block-email-4 { color: #184626; font-size: 17px; margin-bottom: 5px; }
.block-metrics-5 { color: #5ee33c; font-size: 20px; margin-bottom: 5px; }